.tituloImagem {
  width: 80px; /* Ajuste o tamanho da imagem */
  height: auto; /* Mantém a proporção da imagem */
  border: 2px solid white; /* Cor e espessura da borda */
  border-radius: 5px; /* Arredonda os cantos */
  margin-left: 10px; /* Espaçamento à esquerda do título */
}

.buttonContainer {
  display: flex; /* Aplica um layout flexível */
  gap: 10px; /* Espaçamento entre os botões */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(29, 29, 29); /* Cor de fundo da página */
}

input {
  padding-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid black; /* Cor e espessura da borda */
  border-radius: 10px; /* Arredonda os cantos */
  outline: none; /* Remove a linha de foco padrão */
}

.h1Title {
  display: flex;
  cursor: default;
  align-items: center;
  text-transform: capitalize;
  color: cyan;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan, 0 0 80px cyan;
}

.labelInputs {
  color: white;
  text-shadow: 0 0 10px whitesmoke;
  font-weight: bold;
  font-family: cursive;
}

.h2ResultsRoots {
  color: yellow;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 0 0 10px black;
}

.spanResults {
  color: white;
}

button {
  color: black;
  font-family: cursive;
  padding: 5px;
  font-size: 20px;
  border: 2px solid black; /* Cor e espessura da borda */
  border-radius: 5px;
  outline: none; /* Remove a linha de foco padrão */
  background: white;
  transition: 0.1s;
  cursor: pointer;
}

button:hover {
  border: 4px solid cyan; /* Aumenta a espessura da borda ao passar o cursor */
  box-shadow: 0 0 10px cyan; /* Efeito de sombra ao passar o cursor */
  transition: border 0.1s ease-in-out; /* Transição suave para a borda */
}

button {
  box-shadow: 0 0 4px white, 0 0 8px white;
}
